<html>
  <head>
    <meta charset='utf-8' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css'
    />
    <link rel='stylesheet' href='/stylesheets/styleIndexPage.css' />
    <link rel='stylesheet' href='/stylesheets/styleShowMoreInfo.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'
    />

    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Restaurant List</title>
  </head>
  <body>
    <header>
      <!-- navigation -->
      <nav class='navbar navbar-light bg-light'>
        <div class='container'>
          <a class='navbar-brand' href='/'>
            <img
              src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png'
              width='30'
              height='30'
              class='d-inline-block align-top'
              alt='My Restaurant List'
            />
            My Restaurant List
          </a>
        </div>
      </nav>

      <div class='banner'></div>
    </header>

    {{{body}}}
    <script src='/javaScripts/bootstrap.bundle.min.js'></script>
  </body>
</html>